.App {
  text-align: center;
 
}

body {
  background-color: rgba(1, 2, 56, 0.932);
}

h1 {
  display: flex;

  margin: auto;
  color: rgb(201, 79, 184);
  margin-top: 300px;
  font-weight: bolder;
  box-shadow: rgba(182, 179, 179, 0.13) 0px 19px 38px,
    rgba(233, 229, 229, 0.048) 0px 15px 12px;
  height: 10rem;
  width: 20rem;
  padding-top: 3rem;
  border-radius: 150px;
  background-color: rgba(17, 16, 16, 0);

}
